In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request,urllib.parse 
import re

Read the table data from wikipedia using BeautifulSoup and convert it to a dataframe using `pd.read_html`

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
data = urllib.request.urlopen(url).read()
soup = BeautifulSoup(data,'lxml')
soup_data = soup.find_all('table')

df = pd.read_html(str(soup_data))[0]

- Create a dictionary and loop through all cells and use `regex` to extract the data for the necessary columns since each cell has data in text fomart
- First 3 letters are the **PostalCode**
- **Boroughs** are the next letters before the bracket
- **Neighbourhoods** are inside the brackets
- Replace the slashes with commas and set the Neighbourhoods as one string

In [3]:
data_dict = {
    'PostalCode':[],
    'Borough':[],
    'Neighborhood':[]
    }

for i in range(len(df.columns)):
    for j in range(len(df)):
        postal_code = df[i][j][0:3]
        borough = re.findall('^[^\(]+',df[i][j][3:] )[0] 
        if borough != 'Not assigned':
            neighborhoods = re.findall('(?<=[(])[^\)]+',df[i][j][3:])[0].split(' / ')
            data_dict['PostalCode'].append(postal_code)
            data_dict['Borough'].append(borough)
            data_dict['Neighborhood'].append(','.join(neighborhoods)) # concat all the list elements into one string

dataframe = pd.DataFrame(data_dict)

In [4]:
dataframe.head(7)

  PostalCode      Borough                               Neighborhood
0        M1B  Scarborough                              Malvern,Rouge
1        M1C  Scarborough       Rouge Hill,Port Union,Highland Creek
2        M1E  Scarborough            Guildwood,Morningside,West Hill
3        M1G  Scarborough                                     Woburn
4        M1H  Scarborough                                  Cedarbrae
5        M1J  Scarborough                        Scarborough Village
6        M1K  Scarborough  Kennedy Park,Ionview,East Birchmount Park

In [5]:
dataframe.shape

(103, 3)